.text {
  padding-left: 10px;
  padding-right: 100px;;
}

.btn-first {
    border: none;
    cursor: pointer;
    background-color: inherit;
    padding: 2px;
    text-align: left;
    white-space: pre-line;
  }

.btn-second {
    border: none;
    cursor: pointer;
    background-color: inherit;
    padding: 2px;
    text-align: left;
    white-space: pre-line;
    color: #a1a1a1;
  }


.btn-first:hover {
    color: #0e0eff;
}

.btn-second:hover {
  color: #0e0eff;
}

.text-input{
  margin: 10px;
  display: block;
  width: 30%;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 10px 5px 5px grey;
  height: 30px;
}

.submit{
  margin: 10px;
  display: block;
  width: 10%;
  height: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 10px 5px 5px grey;
  padding: 5px;
  clear: both;
}

.submit:hover {
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  cursor: pointer;
}

.count {
  visibility: hidden;
}